* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('imgs/enterprise-tos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-container {
  background-color: #a71313;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.menu div {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

#reset-btn {
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #a71313;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

#reset-btn:hover {
  cursor: pointer;
}

.game-board-container {
  display: flex;
  justify-content: center;
}

.game-board {
  width: 850px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  perspective: 350px;
}

.memory-card {
  width: 150px;
  height: 175px;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s
}

.memory-card:hover {
  cursor: pointer;
}

.memory-card.flip {
  transform: rotateY(180deg)
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-face {
  background-color: #d6a444;
}

.front-face {
  transform: rotateY(180deg);
  background-color: #a71313;
}

/* ***************************** Game Winning Modal  ****************************** */

.modal-container {
  display: none; 
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #c1c730;  /* fallback for old browsers */
  background: linear-gradient(to left, #2b53a7, #a71313);
  border-radius: 5px;
  z-index: 1000;
  width: 590px;
  max-width: 75%;
  height: 240px;
  max-height: 50%;
  padding: 25px 30px;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #2b53a7;
  border-radius: 5px;
  width: 90%;
  height: 50%;
  color: #2b53a7;
}

/* Modal Close Button */
.close {
  color: #2b53a7;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: #a71313;
  text-decoration: none;
  cursor: pointer;
}

